<footer>
    <img src="/logo" alt="Marthec, site para sua empresa">
    <nav class="social-media">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-messenger"></i>
        <i class="bi bi-whatsapp"></i>
    </nav>
</footer>

</body>
</html>

<style>

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 12vw;
    margin-left: 5vw;
}
.social-media {
    margin-right: 5vw;
    font-size: 1.5em;
}
.social-media i {
    margin-right: 1vw;
}


</style>