/* VARIÁVEIS DE CORES */
* {padding: 0; margin: 0;}
body {display: flex;flex-direction: column;justify-content: center;align-items: center;}
a {text-decoration: none;}
:root {
    --cor_01: #1a2730;
    --rgba_01: rgb(26, 39, 48, 1.0);
    --cor_02: #45586c;
    --cor_03: #424048;
    --cor_04: #b0cee2;
    --rgba_04: rgb(176, 206, 226, 0.5);
    --cor_05: #a63e1b;
    --cor_06: #e95d2c;
    --cor_07: #f8cc53;
    --cor_08: #e7ad0c;
    --cor_09: #fff;
    --cor_10: #000;
    --gradiente: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}


/* ================= */
/* === ELEMENTOS === */
.button {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: var(--cor_09);
}





header, footer {
    background-color: var(--cor_01);
}


/* === FOOTER === */
.social-media {
    color: var(--cor_09);
}
.social-media i:hover {
    color: var(--cor_04);
}


/* === MAIN === */
.main_01 {
    background: linear-gradient(to right, rgb(26, 39, 48, 0.6), rgb(26, 39, 48, 1.0)), url(/bg);
    background-repeat:no-repeat;
    background-size: contain;
}
h1, h2 {
    color: var(--cor_09);
}
.btn_01 {
    background-color: var(--cor_06);
    border-radius: 0.5em;
}
.btn_01:hover {
    background-color: var(--cor_08);
}

/* === === === === === */
.main_02, .main_07 {
    background-color: var(--cor_09);
}
.nav_02 {
    color: var(--cor_01);
}
.nav_02_right li:hover {
    background-color: var(--cor_07);
    font-weight: bolder;
}

/* === === === === === */
.main_03, .main_06 {
    background-color: var(--cor_01);
}


.main_04 {
    background-color: var(--cor_04);
}


.main_05 {
    background-color: var(--cor_06);
}














