<section class="main_07">
    
    <div class="nav_07">
        <div class="nav_07_top">

        </div>
        <div class="nav_07_bottom">
            
            <!-- carrossel -->
            <div class="nav_07_cards">

            </div>
            
        </div>
    </div>
    
</section>



<style>

.main_07 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_07 {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
}
.nav_07_top {
    width: 80%;
    height: 10vh;
    border: 1px solid #000;
}
.nav_07_bottom {
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
}
.nav_07_cards{
    width: 80%;
    height: 55vh;
    border: 1px solid #000;
}

</style>







