<header>
    <%- include('partials/header') %>
</header>
    
<!-- ### CORPO DO INDEX ### -->
<div class="content">
        <h1>Exemplo de Conteúdo</h1>
        <p>Role para baixo para ver o botão de voltar ao topo aparecer.</p>
        <!-- Conteúdo adicional para permitir rolagem -->
        <div style="height: 1500px;"></div>
    </div>

<!-- ### BOTÕES FIXOS ### -->
<a href="https://wa.me/5512991022315" id="whatsappBtn" class="whatsappBtn" target="_blank" title="Fale conosco no WhatsApp">
    <p>WhatsApp</p>
    <!--<img src="whatsapp-icon.png" alt="WhatsApp" />-->
</a>
<button id="scrollToTopBtn" class="scrollToTopBtn" title="Voltar ao topo">↑</button>

<!-- ### ARQUIVO DO FOOTER ### -->
<footer>
    <%- include('partials/footer') %>
</footer>

<script src="/btnRolagem"></script>
<script src="/WhatsApp"></script>
</body>
</html>