<header>
    <h3>Aqui é o cabeçalho!</h3>
</header>

<section>
    <nav>
        <h3>Menu lateral - navbar</h3>
    </nav>
    <main>
        <h3>Informações principais referentes ao usuário</h3>
    </main>
</section>

<footer>
        <h2>criado por MarthecWeb</h2>
</footer>