<head>
    <link rel="stylesheet" href="/styleFooter" />
</head>
<body>
    

<!-- ### BOTÕES FIXOS ### -->
<a href="https://wa.me/5512991022315" id="whatsappBtn" class="whatsappBtn" target="_blank" title="Fale conosco no WhatsApp">
    <p>WhatsApp</p>
    <!--<img src="whatsapp-icon.png" alt="WhatsApp" />-->
</a>
<button id="scrollToTopBtn" class="scrollToTopBtn" title="Voltar ao topo"><i class="fa-solid fa-arrow-up-long"></i></button>


<footer>
    <nav class="rodape">
        <div class="rodape-itens">
            <img src="/logoFooter" width="350" alt="">
        </div>
        <div class="rodape-itens">
            <div class="rodape-menu">
                <div><a href="#">Sites Institucionais</a></div>
                <div><a href="#">Landing Pages</a></div>
                <div><a href="#">Sites Estáticos</a></div>
                <div><a href="#">Manutenção do site</a></div>
                <div><a href="#">Hospedagem</a></div>
                <div><a href="#">Edição de vídeos</a></div>
                <div><a href="#">Gestão de rede Social</a></div>
                <div><a href="#">Melhora de desempenho SEO</a></div>
            </div>
        </div>
        <div class="rodape-itens">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </nav>
    <nav>
        <p>Direitos Reservados - Copyright &copy; 2024 | 2025. Marthec Web - Agência de desenvolvimento e manutenção de sistemas Web</p>
    </nav>
</footer>

<script src="/menuSuspenso"></script>
<script src="/btnRolagem" ></script>

<!-- ARQUIVOS CDN JS BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


</body>
</html>