<main class="main">

    <div class="main-principal">

        <div class="principal">

            <div class="principal-left">
                <h1>Site para o seu negócio</h1>
                <h2>Seja visto além do seu horizonte</h2>
            </div>
            
        </div>

    </div>

</main>