<head>
    <link rel="stylesheet" href="/style" />
</head>

<!-- ### ARQUIVO DO HEADER ### -->
<header>
    <%- include('partials/header') %>
</header>


<!-- ### ARQUIVOS DO BODY ### -->
<main>


    <%- include('partials/section_01') %>

    <%- include('partials/form_contato') %>





</main>



<!-- ### ARQUIVO DO FOOTER ### -->
<footer>
    <%- include('partials/footer') %>
</footer>
