<!-- ### ARQUIVO DO HEADER ### -->
<header>
    <%- include('../partials/header') %>
</header>


<!-- ### ARQUIVO DO SOBRE ### -->
<!-- ### CORPO DO INDEX ### -->
<div class="content">
    <h1>Tela Contato</h1>
    <p>Role para baixo para ver o botão de voltar ao topo aparecer.</p>
    <!-- Conteúdo adicional para permitir rolagem -->
    <div style="height: 1500px;"></div>
</div>


<!-- ### ARQUIVO DO FOOTER ### -->
<footer>
    <%- include('../partials/footer') %>
</footer>